.sfifth-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    display: none;
}

.sfifth-level-menu > li
{
    position: relative;
    height: 60px;
    width: 300px;
    color: white;
    background: #028910;
}
.sfifth-level-menu > li:hover { background: linear-gradient(45deg, #03AC13, transparent); }

.fifth-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    color: white;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.fifth-level-menu > li
{
    position: relative;
    height: 150px;
    color: white;
    width: 300px;
    background: #028910;
}
.fifth-level-menu > li:hover { background: linear-gradient(45deg, #03AC13, transparent); }

.infifth-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    color: white;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.infifth-level-menu > li
{
    position: relative;
    height: 120px;
    color: white;
    width: 300px;
    background: #028910;
}
.infifth-level-menu > li:hover { background: linear-gradient(45deg, #03AC13, transparent); }

.fourth-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.fourth-level-menu > li
{
    position: relative;
    height: 30px;
    color: white;
    width: 300px;
    background: #028910;
}
.fourth-level-menu > li:hover { background: linear-gradient(45deg, #03AC13, transparent); }


.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    position: relative;
    height: 30px;
    color: white;
    width: 200px;
    background: #028910;
}
.third-level-menu > li:hover { background: linear-gradient(45deg, #03AC13, transparent); }


.second-level-menu
{
    position: absolute;
    top: 30px;
    color: white;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    color: white;
    height: 30px;
    background: #028910;
}
.second-level-menu > li:hover { background: linear-gradient(45deg, #03AC13, transparent); }


.top-level-menu
{
    list-style: none;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    color: white;
    height: 30px;
    width: 150px;
    background: #028910;
}
.top-level-menu > li:hover { background: linear-gradient(45deg, #03AC13, transparent); }
.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */
.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 25px;
    color: white;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }
.hintscontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

